/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Import Tailwind */
@import "tailwindcss";

/* Define Theme Variables */
@theme {
  --color-primary: #38295C;
  --color-primary-light: #D9D6FE;
  --color-secondary: #7A5AF8;
  --color-span: #5925DC;
  --color-purple-a: #4B00B7;

  /* Define Font Families */
  --default-font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --secondary-font-family: "Ibarra Real Nova", "Josefin Sans", "Raleway", "Urbanist", sans-serif;
}

/* Apply Fonts */
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--default-font-family);
}

/* h1, h2, h3 {
  font-family: var(--secondary-font-family);
} */
